#include "resource.h"

IDD_NEWFILE DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Project"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Project Name:",IDC_STATIC,10,10,80,8
    EDITTEXT        IDC_EDIT_PROJECT_NAME,100,10,140,14,ES_AUTOHSCROLL
    LTEXT           "Canvas Width:",IDC_STATIC,10,30,80,8
    EDITTEXT        IDC_EDIT_CANVAS_WIDTH,100,30,40,14,ES_NUMBER
    LTEXT           "Canvas Height:",IDC_STATIC,10,50,80,8
    EDITTEXT        IDC_EDIT_CANVAS_HEIGHT,100,50,40,14,ES_NUMBER
    DEFPUSHBUTTON   "OK",IDOK,50,90,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,110,90,50,14
END
